{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./resources/css/app.css",
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.yaml", "*.md"],
            "options": { "tabWidth": 2 }
        }
    ]
}
